html{
    box-sizing: border-box;
    font-family: 'Open-sans', sans-serif;
}
body{
    background-color: #18232e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.panel{    /*Setting up the main body designs*/
background-color: rgb(211, 188, 244);
width: 100%;
max-width: 960px;
border-radius: 10px;
padding: 15px 25px;
display: flex;
flex-direction: column;
text-align: center;
text-transform: uppercase;
}
.pricing-plan{
    border-bottom: 2px solid #46056c;
}
.pricing-plan:last-child{
    border-bottom:none;
} 
.pricing-img{
    margin-bottom: 25px;
    max-width: 100%;
}
.pricing-header{
    color: #18232e;
    font-weight: 600;
    letter-spacing: 1px;
}
.pricing-features{
    margin: 50px 0px 25px;
    letter-spacing: 1px;
    color: black;
}
.pricing-features-item{
    font-weight: 600px;
    border-top: 1px solid #46056c;
    font-size: 12px;
    padding: 15px 0px 15px;
    line-height: 1.5em;
}
.pricing-features-item:last-child{
    border-bottom: 1px solid #46056c
}
.pricing-price{
    font-size: 32px;
    font-weight: 700;
    display: block;
}
.pricing-button{    /*Responsive Buttons*/
    border-radius: 8px;
    border-color: #18232e;
    border: 2px solid ;
    margin: 4px 2px;
    padding: 15px 5px 15px;
    font-size: 16px;
    background-color: #18232e;
    color: rgb(211, 188, 244);
    display:inline-block;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
.pricing-button:hover, .pricing-button:focus{
    background-color: rgb(211, 188, 244);
    color: #18232e;
}
@media (min-width: 900px){  /*Making the Ui suitable for big screen devices*/
    .panel{
flex-direction: row;
    }
    .pricing-plan{
        border-bottom: none;
        border-right: 1px solid #18232e;
        padding: 25px;
    }
    .pricing-plan:last-child{
        border-right: none;
    }  
}